.cart-button {
    width: 50%;
    min-width: 120px;
  align-self: flex-start;
  padding: 12px 8px;
  background-color: #f3f2f2;
  color: rgb(26, 24, 24);
  border-radius: 8px;
  cursor: pointer;   
  font-size: clamp(12px, 1.5vw, 20px);
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.cart-button:hover {
  background-color: #eeeaea;
}

.cart-button:disabled {
 
   cursor: not-allowed;
  
  border-color: rgba(118, 118, 118, 0.3);
}
.cart-button.active {
  color: green;
  font-weight: bold;
  border-color: green;
}

