.update-password{
  font-weight: 900;
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.update_inp{
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  width: 15%;
  height: 40px;
  font-size: 17px;
  border: 1px solid gray;
}
.cor_btn{
  width: 15.5%;
  height: 45px;
  margin-top: 1%;
  background-color: rgb(250, 235, 204);
  font-size: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.icon{
    margin-left: 20px;
    height: 20px;
}